body > #f1_container, body.stmarks-branding-mobile-login {
    background-color: #003359;
}

#f1_container{
    background: url("@PLUGIN_URL/login.svg") no-repeat center top;
    background-size: 100% auto;
    width: 302px;
}

#f1_container a {
    color: white;
    text-decoration: none;
}
